html{
	height: 100%;
}

body{
	background-color: maroon;
	font-family: Ramabhadra, Arial, sans-serif;
	margin: 0;
	height: 100%;
}

#wrapper{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	min-width: 1200;
	max-width: 1480;
	min-height: 95%;
}

header{
	height: 125px;
	background-image: url(placeholder.png);
	background-position: left;
	background-repeat: no-repeat;
	background-color: rgb(251, 204, 158);
}

.title{
	font-family: Playball;
	font-size: 260%;
}

nav ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
}

nav li{
	display: inline;
	padding: 0px 10px;
}

nav li a{
	text-decoration: none;
}

nav li a:link, nav li a:visited{
    color: maroon;
}

nav li a:hover, nav li a:active{
	font-weight: bold;
}
	
main{
	overflow: auto;
	padding: 15px 5px;
	padding-bottom: 100px;
}

footer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(251, 204, 158);
	font-size: 75%;
	margin-top: -100px;
	height: 100px;
	display: flex;
	justify-content: space-between;
}
	
}
}
.center{
	text-align: center;
}

.columns-around{
	display: flex;
	justify-content: space-around;
}

.columns-between{
	display: flex;
	justify-content: center;
}

.box{
	display: block;
	border:outset 3px #cccccc;
	background-color: silver;
	margin: 10px;
	padding: 10px;
	height: 45%;
	width: 45%;
}

.floatleft{
	float: left;
	margin: 5px;
	
}

.floatright{
	float: right;
	margin: 5px;
}

.clear{
	clear: both;
}
.box2{
	display: block;
	border:outset 3px #cccccc;
	background-color: silver;
	margin: 10px;
	padding: 10px;
}
